#wrapper {
    width: 1000px;
    background-color: #e9e9e9;
    top: -1px;
    padding: 50px;
    padding-top: 0px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/*Write your CSS rules below!*/
>&lt;hr&gt;</code> elements.</p>
            <div class="snippet">
                <code>
                hr {<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;border: 0;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;height: 1px;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;background: #333;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;background-image: linear-gradient(to right, #ccc, #333, #ccc);<br>

